/* -----------
Nav
------------ */

  .nav {
    font-family: $futura;
    }

  .main-nav {
    line-height: 1.75em;
    li {
      display: block;
      }
    }

  .nav--sub {
    text-align: center;
    margin-bottom: 2em;
    li {
      display: inline-block;
      margin-right: 1em;
      margin-left: 1em;
      text-align: center;
      }
    }
